{{ define "main" }}
<article>
  <div class="post-header">
    {{- if .Site.Params.breadcrumbs }}
    <div class="breadcrumbs">
      <a href="{{ .Site.BaseURL }}">~</a>
      {{- range .Ancestors.Reverse }}
      / <a href="{{ .Permalink }}">{{ .Title | lower }}</a>
      {{- end }}
      / {{ .Title | lower }}
    </div>
    {{- end }}
    <h1>{{ .Title }}</h1>
    <div class="post-meta">
      <span>{{ .Date.Format "2 January 2006" }}</span>
      <span>{{ .ReadingTime }} min read</span>
      {{- with .Params.tags }}
      <div class="tags">
        {{- range . }}
        <a href="{{ ($.Site.GetPage (printf "/tags/%s" (. | urlize))).Permalink }}" class="tag">#{{ . }}</a>
        {{- end }}
      </div>
      {{- end }}
    </div>
  </div>
  <div class="post-content">
    {{ .Content }}
  </div>
</article>

{{- $prev := .PrevInSection }}
{{- $next := .NextInSection }}
{{- if or $prev $next }}
<nav class="post-nav">
  <div class="prev">
    {{- with $prev }}
    <div>← <a href="{{ .Permalink }}">{{ .Title }}</a></div>
    {{- end }}
  </div>
  <div class="next">
    {{- with $next }}
    <div><a href="{{ .Permalink }}">{{ .Title }}</a> →</div>
    {{- end }}
  </div>
</nav>
{{- end }}
{{ end }}
